.loginBTN {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px !important;
}
.logoutBTN {
    /*position: absolute;
    top: 20px;
    right: 20px;
    width: 50px !important;*/
}