.body {
    overflow: hidden;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
    height: 100vh;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, #0d385b 10%, #212529 70%);
    max-height: 100vh;
    width: 250px;
}

/*think i need to overflow scroll this, and add a max height*/
.content {
    overflow: scroll;
}

.sidebarContainer {
    /*min-width: 250px;*/
}

.topBlock {
    background-color: #212529;
    width: 100vh;
}

.logindisp {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.logindispSmall {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.userNameDisp {
    height: 20px;
    position: fixed;
    right: 15px;
    bottom: 10px;
}

.homeImg {
    margin-top: -4px;
    position: relative;
    display: inline-block !important;
    border-radius: 5px;
    overflow: hidden;
}

.top-row {
    background-image: linear-gradient(90deg, #0d385b 10%, #212529 90%);
    /*border-bottom: 1px solid #0d385b;*/
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 500px) {
    .sidebarController-max {
        width: 50vw !important;
    }
}

@media (max-width: 400px) {
    .sidebarController-max {
        width: 100vw !important;
    }
    .contentHider {
        display: none;
    }
}

@media (max-width: 689.98px) {
    .page {
        flex-direction: row;
    }

    .top-row:not(.auth) {
        display: none;
    }

    .sidebar {
        position: sticky;
        top: 0;
        /*height: 100vh-56px;*/
        /*display: none;*/
    }

    .sidebarController {
        /* animation: hideNavbar 0.3s ease-in-out forwards;
        width: 0px; */
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .logindispSmall {
        margin-left: 0px;
        width: 100%;
        justify-content: flex-end;
    }

    #topLeftText {
        display: none;
    }

    .topBlock {
        width: calc(100vh - 550px);
        height: 100%;
    }

    .top-row.auth {
        justify-content: flex-end;
        margin-left: 0px;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (max-width: 1162px) {
    .sidebar {
        background-image: linear-gradient(180deg, #0d3759 10%, #212529 50%);
    }

    .top-row.auth {
        justify-content: flex-end;
        margin-left: -250px;
    }

    .internalWiki {
        display: none;
    }

    .logindisp {
        margin-left: 200px;
        justify-content: flex-end;
        width: 100%;
    }

    .logindispSmall {
        justify-content: flex-end;
        width: 100%;
    }
}

@media (min-width: 690px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        position: sticky;
        top: 0;
    }

    .sidebarController {
        /* animation: showNavbar 0.3s ease-in-out forwards !important; */
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
        margin-left: -250px;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* width */
/*::-webkit-scrollbar {
    background: #212529;
    width: 10px;
    border-radius: 0px;
}*/

/* Track */
/*::-webkit-scrollbar-track {
    background: #212529;
    border-radius: 0px;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}*/

    /* Handle on hover */
    /*::-webkit-scrollbar-thumb:hover {
        background: #555;
    }*/

#navToggle {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#topLeftText {
    position: fixed;
    top: 10px;
    left: 80px;
    color: #566674;
    z-index: 999;
}

.topLeftTextMuted {
    color: #56667475;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.form-check-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.form-check-icon {
    position: absolute;
    font-size: 1.5rem;
    top: 0px;
    left: 0px;
    margin-top: -5px;
    margin-left: -5px
}

.rotateRight {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

.rotateLeft {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.navHider {
    animation: hideNavbar 0.3s ease-in-out forwards;
}

.navShower {
    animation: showNavbar 0.3s ease-in-out forwards;
}

@keyframes hideNavbar {
    0% {
        transform: translate(0px, 0px);
        visibility: visible;
        width: 250px;
    }

    50% {
    }

    99% {
        visibility: visible;
    }

    100% {
        transform: translate(-250px, 0px);
        visibility: hidden;
        width: 0px;
    }
}

@keyframes showNavbar {
    0% {
        transform: translate(-250px, 0px);
        width: 0px;
    }

    50% {
    }

    100% {
        transform: translate(0px, 0px);
        visibility: visible;
        width: 250px;
    }
}