.body {
    overflow: hidden;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #c1c4c7 !important;
    overflow: hidden;
    height: 100vh;
}

main {
    flex: 1;
    background-image: linear-gradient(120deg, #0d385b 5%, #212529 10%) !important;
    z-index: 98;
}

.main-Nav-Open {
    margin-left: 0px;
}

.main-Nav-Closed {
    margin-left: 50px;
}


.sidebar {
    background-image: linear-gradient(180deg, #0d385b 10%, #212529 70%);
    max-height: 100vh;
    width: 250px;
    z-index: 11;
    padding-right: 0px;
}

.smallNavBar {
    padding-top: 20px;
    align-content: center;
    text-align: center;
    background-image: linear-gradient(180deg, #0d385b 10%, #212529 70%);
    /*border-top: 1px solid #212529b2;*/
    position: fixed;
    top: 56px !important;
    left: 0;
    height: 100vh !important;
    width: 50px;
    overflow: visible;
    display: block;
    z-index: 10;
}

.content {
    position: relative !important;
    z-index: 99;
    margin: 0px 10px 0px 10px;
    margin-left: 0px;
    overflow: scroll;
    background-color: rgba(33, 37, 41, 1) !important;
    border-radius: 20px;
    height: calc(100vh - 70px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

    .content:hover {
        position: relative !important;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.7), 0px 5px 10px rgba(0, 0, 0, 0.5);
        /*border: 1px solid rgba(108, 117, 125, 0.2);*/
        /*background-color: rgba(33, 37, 41, 0.9) !important;*/
    }

/*.content-menu-closed {
    padding-left: 10px !important;
}

.content-menu-open {
    padding-left: 10px !important;
}*/

.oi-document, .oi-person, .oi-chat, .oi-info, .oi-home {
    font-size: 20px !important;
    padding-top: 2px;
}

.oi-document {
    padding-left: 3px;
    padding-top: 3px;
}

.nav-item {
    font-size: 0.3rem;
    padding-bottom: 0.4rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        text-shadow: 1px 2px 4px #000000a6 !important;
        color: #d7d7d7;
        border-radius: 50%;
        height: 2rem;
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        overflow: visible;
        transition: all 0.15s ease-in-out;
    }

        .nav-item ::deep a.active {
            font-size: larger;
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7), 0px 2px 5px rgba(0, 0, 0, 0.5);
            transform: scale(1.08);
            color: white;
        }

.sidebarController-start {
    display: none !important;
}

.topBlock {
    background-color: #212529;
    width: 100vh;
    text-shadow: 1px 2px 4px #000000a6 !important;
}

.topLeftBlock {
    padding-top: 0px;
    margin-left: -30px;
}

.menu-toggle {
    margin-top: 21px;
    margin-left: -23px;
}

.logindisp {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.logindispSmall {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.userNameDisp {
    z-index: 999;
    height: 20px;
    position: fixed;
    right: 25px;
    bottom: 20px;
}

.homeImg {
    margin-top: -4px;
    position: relative;
    display: inline-block !important;
    border-radius: 5px;
    overflow: hidden;
}

.top-row {
    /*border-bottom: 1px solid #0d385b;*/
    background-image: linear-gradient(90deg, #0d385b 50%, #212529 90%);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 1 !important;
    position: static !important;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
/*
@media (max-width: 600px) {
    .sidebarController-max {
        width: 50vw !important;
    }
}*/

@media (max-width: 520px) {
    .top-row {
        background-color: #0d385b !important;
    }

    #topLeftText {
        margin-left: 0px !important;
    }

    .sidebarController-max {
        width: 100vw !important;
    }

    .contentHider {
        display: none;
    }
}

@media (max-width: 789.98px) {
    .page {
        flex-direction: row;
    }

    .top-row:not(.auth) {
        display: none;
    }

    .sidebar {
        position: sticky;
        top: 0;
        /*height: 100vh-56px;*/
        /*display: none;*/
    }

    .sidebarController {
        /* animation: hideNavbar 0.3s ease-in-out forwards;
        width: 0px; */
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1 !important;
    }

    .logindispSmall {
        margin-left: 0px;
        width: 100%;
        justify-content: flex-end;
    }

    .internalWiki {
        display: none;
    }

    .topBlock {
        width: calc(100vw - 550px);
        height: 100%;
    }

    .top-row.auth {
        justify-content: flex-end;
        margin-left: 0px;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .top-row.auth {
        justify-content: flex-end;
        margin-left: -250px;
    }

    .logindisp {
        margin-left: 200px;
        justify-content: flex-end;
        width: 100%;
    }

    .logindispSmall {
        justify-content: flex-end;
        width: 100%;
    }
}

@media (min-width: 790px) {
    .page {
        flex-direction: row;
    }

    .topBlock {
        width: calc(100vw - 550px);
        height: 100%;
    }

    .sidebar {
        position: sticky;
        top: 0;
    }

    .sidebarController {
        /* animation: showNavbar 0.3s ease-in-out forwards !important; */
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1 !important;
        margin-left: -250px;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#navToggle {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 97;
}

#topLeftText {
    text-shadow: 2px 3px 3.5px #000000d6 !important;
    font-weight: 500;
    font-size: 2rem !important;
    position: fixed;
    top: 2px;
    left: 45px;
    margin-left: 10px;
    color: #6c757d;
    z-index: 97;
}

    #topLeftText:hover {
        color: #8b939a;
        cursor: pointer;
    }

.topLeftTextMuted {
    color: #56667475;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.form-check-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.form-check-icon {
    position: absolute;
    font-size: 1.5rem;
    top: 0px;
    left: 0px;
    margin-top: -5px;
    margin-left: -5px
}

.icon {

}

    .icon:hover {
        /*box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7), 0px 2px 5px rgba(0, 0, 0, 0.5);*/
        /*transform: scale(1.08);*/
        color: #8b939a;
    }

.rotateRight {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.rotateLeft {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
}

.navHider {
    animation: hideNavbar 0.3s ease-in-out forwards;
}

.navShower {
    animation: showNavbar 0.3s ease-in-out forwards;
}

@keyframes hideNavbar {
    0% {
        transform: translate(0px, 0px);
        visibility: visible;
        width: 250px;
    }

    50% {
    }

    99% {
        visibility: visible;
    }

    100% {
        transform: translate(-250px, 0px);
        visibility: hidden;
        width: 0px;
    }
}

@keyframes showNavbar {
    0% {
        transform: translate(-250px, 0px);
        width: 0px;
    }

    50% {
    }

    100% {
        transform: translate(0px, 0px);
        visibility: visible;
        width: 250px;
    }
}