/* Layout */
.energy-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.left-panel {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}

.right-panel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input Panel Styling */
.left-panel div {
    margin-bottom: 20px;
}

.left-panel label {
    font-size: 14px;
    color: #9d9d9d;
    display: block;
    margin-bottom: 5px;
}

.left-panel input[type="number"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80px;
    margin-right: 5px;
}

.left-panel span {
    font-size: 14px;
    color: #9d9d9d;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

    button:hover {
        background-color: #0056b3;
    }

h4 {
    font-size: 18px;
    color: #bebebe;
    margin-top: 30px;
}

/* Canvas Styling */
#particleCanvas {
    width: 600px;
    height: 400px;
}

.details img {
    background-color: white;
    padding: 10px;
}

.modal-dialog {
    max-width: 75vw;
}

.modal {
    background-color: rgba(0, 0, 0, 0.9);
}