@page "/cryptoManager"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using Microsoft.JSInterop
@using PersonalWebsite.Pages.CryptoManagerComponents

<div class="container">
    <div class="crypto-card-list">
        @foreach (var crypto in cryptos)
        {
            <CryptoCard Crypto="crypto" OnCryptoSelected="LoadCryptoDetails" />
        }
    </div>
    <div class="detail-view">
        @foreach (var selectedCrypto in selectedCryptos)
        {
            <CryptoDetails Crypto="selectedCrypto" />
        }
    </div>
</div>

@code {
    private List<Crypto> cryptos = new List<Crypto>();
    private List<Crypto> selectedCryptos = new List<Crypto>();

    private JsonSerializerOptions options = new JsonSerializerOptions
        {
            Converters = { new DecimalConverter() }
        };

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("fetchCryptoList");
    }

    [JSInvokable]
    public void UpdateCryptoData(Crypto crypto)
    {
        var existingCrypto = cryptos.FirstOrDefault(c => c.Id == crypto.Id);
        if (existingCrypto != null)
        {
            existingCrypto.CurrentPrice = crypto.CurrentPrice;
            existingCrypto.PriceHistory = crypto.PriceHistory;
        }
        else
        {
            cryptos.Add(crypto);
        }

        StateHasChanged();
    }

    private void LoadCryptoDetails(Crypto crypto)
    {
        if (!selectedCryptos.Contains(crypto))
        {
            selectedCryptos.Add(crypto);
        }
    }
}