.cryptoContainer {
    height: 100%;
}

.container {
    color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.crypto-card-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    height: 85vh;
}

.detail-view {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    overflow-y: auto;
    height: 85vh;
    justify-content: center;
}

.settings {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 15px;
    align-content: end;
    align-items: end;
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50px;
    right: 50px;
}

.settings button {
    width: 100%;
}