.pdfViewer {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 100px);
}
.title {
    color: #1c5380;
}
.viewerIframe {
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}