#canvas-container {
    position: relative;
}

.genome-viewer {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #333;
    padding: 10px;
    overflow: auto;
    max-height: 400px;
}

.content {
    padding-left: 20px; /* Indent child elements */
    display: none;
    background-color: #f9f9f9;
}

.key-value-pair {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.key {
    font-weight: bold;
}

.value {
    margin-left: 10px;
}


.pageTitle {
    text-align: left;
    color: #a9aaac;
    font-size: 24px;
    border-bottom: 2px solid #0d385b;
}

.presetsTitle {
    text-align: center;
    color: #a9aaac;
    font-size: 24px;
    margin-top: 20px;
}

.settings-preset-Buttons {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.preset-button {
    background-color: #0d385b;
    color: white;
    border: none;
    padding: 6px 10px; /* Reduced padding */
    margin: 3px;
    font-size: 12px; /* Reduced font size */
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

    .preset-button:hover {
        background-color: #1a5a7a;
        transform: scale(1.05);
    }

.resetSimple-button,
.resetSuperSimple-button,
.reset-button,
.save-button,
.upload-button {
    background-color: #4caf50;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.tab-button {
    font-size: 17px;
    background-color: transparent;
    border: none;
    color: #a9aaac;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    border-bottom: 2px solid transparent;
}

    .tab-button.active {
        color: #0d385b;
        border-color: #0d385b;
        font-weight: bold;
    }

    .tab-button:hover {
        color: #0d385b;
        border-color: #0d385b;
    }

.tabDesc {
    color: #ccc;
    text-align: center;
    margin: 0 auto 15px;
    max-width: 80%; /* Limiting the width for better readability */
    font-size: 14px;
    line-height: 1.4;
}

.tab-content {
    position: relative;
    display: flex;
    flex-direction: column; /* Ensures items are stacked vertically */
    align-items: center; /* Centers items horizontally */
}

.settings-container {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
}

.setting-tooltip {
    background-color: #344444;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-size: 11px;
    color: #aaa;
    margin: 8px 0 6px 0;
}

.setting {
    background-color: #44444473;
    border-radius: 8px;
    margin: 4px;
    padding: 7px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s, transform 0.3s;
    width: calc(10% - 4px);
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    font-size: 12px;
    overflow: hidden;
    z-index: 1;
}

    .setting.large {
        width: calc(12% - 4px);
    }

    .setting:hover {
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
        transform: scale(1.01);
        background-color: #344444;
        z-index: 10;
    }

    .setting label {
        font-weight: bold;
        display: block;
        margin-bottom: 4px;
        font-size: 12px; 
    }

    .setting select,
    .setting input[type="checkbox"],
    .setting input[type="number"] {
        width: 100%;
        margin-bottom: 4px;
        background-color: #444444;
        color: #ffffff;
        display: block;
    }

    .setting select {
        margin-top: 20px;
    }

    .setting input[type="range"] {
        width: 100%;
        margin-bottom: 8px;
        height: 10px;
        border-radius: 5px;
        background: #ddd;
        outline: none;
        opacity: 0.7;
        transition: opacity 0.2s;
    }

    .setting .setting-details {
        display: none; /* Initially hide details */
    }

    .setting .switch {
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        display: flex;
        width: 50px;
        height: 24px;
        margin: 18px auto;
    }

        .setting .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .setting .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #444;
        transition: .4s;
        border-radius: 24px;
    }

        .setting .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

input:checked + .slider {
    background-color: #0d385b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0d385b;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.setting-details {
    font-size: 11px;
    color: #aaa;
    margin: 8px 0 6px 0;
}

.favourite-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffd700; /* Gold color for the star */
    font-size: 15px; /* Adjust as needed */
}

    .favourite-button:hover {
        color: #ffcc00; /* Slightly different color on hover */
    }

    .favourite-button span {
        display: inline;
    }

.toggleAdvanced {
    display: block; /* Make the button a block element */
    width: 90%; /* Full width */
    background-color: #1a5a7a; /* Slightly different color for distinction */
    color: white;
    border: none;
    padding: 6px 12px;
    margin: 12px 0;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

    .toggleAdvanced:hover {
        background-color: #2b6b90; /* Darken on hover */
        transform: scale(1.02);
    }


@media (max-width: 768px) {
    .setting {
        width: calc(25% - 8px); /* Four small items per row on smaller screens */
    }

        .setting.large {
            width: calc(50% - 16px); /* Two large items per row on smaller screens */
        }
}

@media (max-width: 480px) {
    .setting,
    .setting.large {
        width: calc(100% - 8px); /* One item per row on mobile screens */
    }

    .preset-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-window {
    background-color: #333333cf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 60%;
    max-width: 600px;
    max-height: 80%;
    overflow: scroll;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-close {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
    color: white;
}

.popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popup-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
    font-size: 1em;
}

.popup-btn {
    padding: 10px 20px;
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

    .popup-btn:hover {
        background-color: #787878;
    }

.agent-set {
    background-color: #44444473;
    border-radius: 8px;
    margin: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s, transform 0.3s, width 0.3s;
    width: calc(33.3% - 8px);
    position: relative;
    font-size: 7px;
    color: #aeaeae;
    overflow: hidden;
    z-index: 1001;
}

    .agent-set .preTrainedDesc {
        color: white;
        font-size: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 11px;
    }

    .agent-set:hover {
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
        /*width: calc(50% - 8px);*/
        transform: scale(1.4);
        background-color: #344444;
        z-index: 1002;
        transition: box-shadow 0.3s, transform 0.3s, width 0.3s;
    }

        .agent-set:hover .preTrainedDesc {
            max-height: 500px;
            transition: max-height 0.3s ease 0.15s;
        }
/*
        .agent-set:hover ~ .popup-window {
            overflow: visible;
        }*/

    .agent-set h4 {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .agent-set p {
        margin: 4px 0;
    }

.btn-select {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-select:hover {
        background-color: #555555;
    }


.popup-content {
    margin-top: 20px;
}

.agent-set {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-select {
    margin-top: 10px;
}

.simDescription {
    color: #a9aaac;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: #1d2124;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
    .simDescription h4 {
        text-align: center; /* Center-align the title */
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 22px; /* Larger font size for the title */
    }

    .simDescription .tagline {
        text-align: center; /* Center-align the tagline */
        font-size: 16px; /* Slightly larger font size for emphasis */
        color: #E0E0E0; /* Light grey color for readability */
        margin-bottom: 100px; /* More space after the tagline */
        font-style: italic; /* Italicize the tagline */
    }


    .simDescription h5, .simDescription h6 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .simDescription p {
        font-size: 14px; 
        line-height: 1.6; 
        margin-bottom: 15px;
    }

    .simDescription ol {
        padding-left: 20px; 
        list-style-type: decimal; 
    }

    .simDescription li {
        margin-bottom: 10px;
    }


/* Container to hold the buttons */
.button-container {
    position: fixed;
    top: 80px;
    right: -40px;
    width: 140px;
    height: 470px;
    z-index: 10;
    transition: all 0.3s ease-out;
}

    .button-container:hover .leftColumn {
        right: 270px;
    }

    .button-container:hover .rightColumn {
        right: 60px;
    }

    .button-container:hover {
        width: 480px;
        height: 470px;
    }

.floating-button {
    position: absolute; /* Absolute positioning within the container */
    z-index: 10;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease-out;
}

/* Specific button placements */
.start-button {
    top: 240px;
    right: -70px;
    background-color: #4CAF50;
}

.simpleStart-button {
    top: 240px;
    right: -250px;
    background-color: #4CAF50;
}

.superSimpleStart-button{
    top: 300px;
    right: -250px;
    background-color: #4CAF50;
}

.uploadGenomes-button {
    top: 300px;
    right: -70px;
    background-color: #4CAF50;
}

.selectPretrained-button {
    top: 360px;
    right: -70px;
    background-color: #4CAF50;
}

.recoverGenome-button {
    top: 360px;
    right: -250px;
    background-color: #FFC107;
}

.killSim-button {
    top: 420px;
    right: -70px;
    background-color: #de1111;
}

.saveKill-button {
    top: 420px;
    right: -250px;
    background-color: #de1111;
}

.update-button {
    top: 0;
    right: -250px;
    background-color: #0d385b;
}

.toggleLeader-button {
    top: 60px;
    right: -250px;
    background-color: #0d385b;
}

.toggleRays-button {
    top: 60px;
    right: -70px;
    background-color: #0d385b;
}

.toggleNN-button {
    top: 60px;
    right: -70px;
    background-color: #0d385b;
}

.viewGenome-button  {
    top: 120px;
    right: -70px;
    background-color: #0d385b;
}

.logGenomes-button {
    top: 120px;
    right: -250px;
    background-color: #0d385b;
}

.skip10Gen-button {
    top: 180px;
    right: -70px;
    background-color: #0d385b;
}

.skip100Gen-button {
    top: 180px;
    right: -250px;
    background-color: #0d385b;
}

.retrieveGenomes-button {
    top: 0px;
    right: -70px;
    background-color: #0d385b;
}

/*.settings-preset-Buttons {
}

.preset-button {
    z-index: 10;
    background-color: #0d385b;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}*/