#canvas-container {
    /*    width: 1600px;
    height: 800px;*/
    position: relative;
}

.settings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 20px;
}

.slider-container {
    display: flex;
    align-items: center;
}

    .slider-container input[type="range"] {
        flex-grow: 1;
    }

    .slider-container input[type="number"] {
        width: 60px;
        margin-left: 10px;
    }

.settings-section {
    flex: 1;
    min-width: calc(33.33% - 20px); /* Minimum width for each settings block */
    box-sizing: border-box;
    margin-bottom: 20px;
}

    .settings-section.full-width {
        flex: 100%;
        min-width: 100%;
    }

/* Responsive behavior */
@media (max-width: 1024px) {
    .settings-section {
        min-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .settings-section {
        min-width: 100%;
    }
}

.setting label {
    cursor: help;
}

.setting input[type="range"] {
    width: 100%;
}

.advanced-settings.hidden {
    display: none;
}

/* Container to hold the buttons */
.button-container {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 130px;
    height: 270px;
    z-index: 10;
    transition: all 0.3s ease-out;
}

    .button-container:hover .leftColumn {
        right: 230px;
    }

    .button-container:hover .rightColumn {
        right: 20px;
    }

    .button-container:hover {
        width: 430px;
        height: 320px;
    }

.floating-button {
    position: absolute; /* Absolute positioning within the container */
    z-index: 10;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease-out;
}

/* Specific button placements */
.start-button {
    top: 240px;
    right: -70px;
    background-color: #4CAF50;
}

.simpleStart-button {
    top: 240px;
    right: -250px;
    background-color: #4CAF50;
}

.superSimpleStart-button{
    top: 300px;
    right: -250px;
    background-color: #4CAF50;
}

.update-button {
    top: 0;
    right: -250px;
    background-color: #0d385b;
}

.toggleLeader-button {
    top: 60px;
    right: -250px;
    background-color: #0d385b;
}

.toggleRays-button {
    top: 60px;
    right: -70px;
    background-color: #0d385b;
}

.toggleNN-button {
    top: 120px;
    right: -70px;
    background-color: #0d385b;
}

.logGenomes-button {
    top: 120px;
    right: -250px;
    background-color: #0d385b;
}

.skip10Gen-button {
    top: 180px;
    right: -70px;
    background-color: #0d385b;
}

.skip100Gen-button {
    top: 180px;
    right: -250px;
    background-color: #0d385b;
}

.retrieveGenomes-button {
    top: 0px;
    right: -70px;
    background-color: #0d385b;
}

.settings-preset-Buttons {

}

.preset-button {
    z-index: 10;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.mobile-button{

}

.low-button {

}

.mid-button {

}

.high-button {

}

.vHigh-button {

}
