#canvas-container {
    position: relative;
}

.pageTitle {
    text-align: left;
    color: #a9aaac;
    font-size: 24px;
    border-bottom: 2px solid #0d385b;
}

.presetsTitle {
    text-align: center;
    color: #a9aaac;
    font-size: 24px;
    margin-top: 20px;
}

.settings-preset-Buttons {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.preset-button {
    background-color: #0d385b;
    color: white;
    border: none;
    padding: 6px 10px; /* Reduced padding */
    margin: 3px;
    font-size: 12px; /* Reduced font size */
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

    .preset-button:hover {
        background-color: #1a5a7a;
        transform: scale(1.05);
    }

.reset-button,
.save-button,
.upload-button {
    background-color: #4caf50;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.tab-button {
    font-size: 17px;
    background-color: transparent;
    border: none;
    color: #a9aaac;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    border-bottom: 2px solid transparent;
}

    .tab-button.active {
        color: #0d385b;
        border-color: #0d385b;
        font-weight: bold;
    }

    .tab-button:hover {
        color: #0d385b;
        border-color: #0d385b;
    }

.tabDesc {
    color: #ccc;
    text-align: center;
    margin: 0 auto 15px;
    max-width: 80%; /* Limiting the width for better readability */
    font-size: 14px;
    line-height: 1.4;
}

.tab-content {
    display: flex;
    flex-direction: column; /* Ensures items are stacked vertically */
    align-items: center; /* Centers items horizontally */
}

.settings-container {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
}

.setting {
    background-color: #44444473;
    border-radius: 8px;
    margin: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s, transform 0.3s;
    width: calc(10% - 8px); /* 6 small items per row */
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

    .setting.large {
        width: calc(20% - 8px); /* 5 large items per row */
    }

    .setting:hover {
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
        transform: scale(1.01);
        background-color: #444;
    }

    .setting label {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
        font-size: 14px; 
    }

    .setting input[type="range"],
    .setting input[type="number"],
    .setting select,
    .setting input[type="checkbox"] {
        width: 100%;
        margin-bottom: 8px;
    }

    .setting .switch {
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        display: flex;
        width: 50px;
        height: 24px;
        margin: 18px auto;
    }

        .setting .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .setting .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 24px;
    }

        .setting .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

input:checked + .slider {
    background-color: #0d385b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0d385b;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.setting-details {
    font-size: 12px;
    color: #aaa;
    margin: 8px 0 6px 0;
}

.favourite-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffd700; /* Gold color for the star */
    font-size: 20px; /* Adjust as needed */
}

    .favourite-button:hover {
        color: #ffcc00; /* Slightly different color on hover */
    }

    .favourite-button span {
        display: inline;
    }

.toggleAdvanced {
    display: block; /* Make the button a block element */
    width: 90%; /* Full width */
    background-color: #1a5a7a; /* Slightly different color for distinction */
    color: white;
    border: none;
    padding: 6px 12px;
    margin: 12px 0;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

    .toggleAdvanced:hover {
        background-color: #2b6b90; /* Darken on hover */
        transform: scale(1.02);
    }


@media (max-width: 768px) {
    .setting {
        width: calc(25% - 8px); /* Four small items per row on smaller screens */
    }

        .setting.large {
            width: calc(50% - 16px); /* Two large items per row on smaller screens */
        }
}

@media (max-width: 480px) {
    .setting,
    .setting.large {
        width: calc(100% - 8px); /* One item per row on mobile screens */
    }

    .preset-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.simDescription {
    color: #a9aaac;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: #1d2124;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
    .simDescription h4 {
        text-align: center; /* Center-align the title */
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 22px; /* Larger font size for the title */
    }

    .simDescription .tagline {
        text-align: center; /* Center-align the tagline */
        font-size: 16px; /* Slightly larger font size for emphasis */
        color: #E0E0E0; /* Light grey color for readability */
        margin-bottom: 100px; /* More space after the tagline */
        font-style: italic; /* Italicize the tagline */
    }


    .simDescription h5, .simDescription h6 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .simDescription p {
        font-size: 14px; 
        line-height: 1.6; 
        margin-bottom: 15px;
    }

    .simDescription ol {
        padding-left: 20px; 
        list-style-type: decimal; 
    }

    .simDescription li {
        margin-bottom: 10px;
    }


/* Container to hold the buttons */
.button-container {
    position: fixed;
    top: 80px;
    right: -40px;
    width: 130px;
    height: 270px;
    z-index: 10;
    transition: all 0.3s ease-out;
}

    .button-container:hover .leftColumn {
        right: 270px;
    }

    .button-container:hover .rightColumn {
        right: 60px;
    }

    .button-container:hover {
        width: 470px;
        height: 350px;
    }

.floating-button {
    position: absolute; /* Absolute positioning within the container */
    z-index: 10;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease-out;
}

/* Specific button placements */
.start-button {
    top: 240px;
    right: -70px;
    background-color: #4CAF50;
}

.simpleStart-button {
    top: 240px;
    right: -250px;
    background-color: #4CAF50;
}

.superSimpleStart-button{
    top: 300px;
    right: -250px;
    background-color: #4CAF50;
}

.uploadGenomes-button {
    top: 300px;
    right: -70px;
    background-color: #4CAF50;
}

.update-button {
    top: 0;
    right: -250px;
    background-color: #0d385b;
}

.toggleLeader-button {
    top: 60px;
    right: -250px;
    background-color: #0d385b;
}

.toggleRays-button {
    top: 60px;
    right: -70px;
    background-color: #0d385b;
}

.toggleNN-button {
    top: 120px;
    right: -70px;
    background-color: #0d385b;
}

.logGenomes-button {
    top: 120px;
    right: -250px;
    background-color: #0d385b;
}

.skip10Gen-button {
    top: 180px;
    right: -70px;
    background-color: #0d385b;
}

.skip100Gen-button {
    top: 180px;
    right: -250px;
    background-color: #0d385b;
}

.retrieveGenomes-button {
    top: 0px;
    right: -70px;
    background-color: #0d385b;
}

/*.settings-preset-Buttons {
}

.preset-button {
    z-index: 10;
    background-color: #0d385b;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}*/