body {
    color: #f8f9fa;
    background-color: #212529;
}

.assistantDiv {
    padding-top: 10px;
    overflow: scroll !important;
    height: calc(100vh - 75px);
    width: 100%;
}

.headers {
    font-size: 22px;
    font-weight: bold;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px #000000;
}

.queryBox {
    border: 2px hidden #0d385b;
    border-radius: 5px 0px 0px 5px;
    background: #212529;
    color: #f8f9fac4;
    margin-right: 2px;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3), 0px 5px 15px rgba(6, 28, 46, 0.2), 0px 7px 20px rgba(13, 56, 91, 0.1);
}

    .queryBox:hover {
        /*border: 1px solid #0d385b;*/
        background-color: rgba(255,255,255,0.1);
        color: #e0e0e0;
    }

.search-container, .result-container, .output-container {
    height: 100%;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #212529;
    border: 1px solid #c1c4c7;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #f8f9fa;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5), 2px 3px 5px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.search-container:hover, .result-container:hover, .output-container:hover {
    transform: translate(-3px, -3px);
    background-color: #32373c;
}

.input-group, .btn {
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.output-box, .result-box {
    height: 60vh;
    overflow-y: auto;
    border: hidden;
    padding: 10px;
    color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3), 0px 5px 15px rgba(6, 28, 46, 0.2), 0px 7px 20px rgba(13, 56, 91, 0.1);
    background-color: rgba(255,255,255,0.05);
}

    .output-box:hover {
        background-color: rgba(255,255,255,0.1);
        color: #e0e0e0;
    }

    @media (max-width: 1199px) {
        .output-box, .result-box {
            height: 28vh;
        }

        .search-container, .result-container, .output-container {
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 2px;
        }
    }

    .linkList {
    padding: 0 0 0 5px !important;
}

li.objectLinkWrapper {
    position: relative;
    margin-bottom: 10px;
}

.objectLink {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #f8f9fa;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4), 1px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.objectLinkOutline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    z-index: 0;
}

.objectLink:hover {
    transform: translate(-5px, -5px);
    background-color: rgb(196, 196, 196, 0.4);
    cursor: pointer;
}

    .objectLink a {
        color: #e0e0e0;
        flex-grow: 1;
        padding-top: 6px;
        overflow: hidden; /* Required for ellipsis to work */
        white-space: nowrap; /* Required for ellipsis to work */
        text-overflow: ellipsis; /* This adds the '...' */
    }

        .objectLink a:hover {
            color: #f8f9fa;
            text-decoration: none;
        }

.listNumber {
    margin-right: 10px; /* Add some space between the number and the link */
}

button {
    border-radius: 0px 5px 5px 0px;
    background-color: #0d385b;
    color: #f8f9fa;
    border: none;
    transition: all 0.3s ease; /* Smoother transition for hover effect */
}

    button:hover {
        background-color: #0d385b;
        color: #e0e0e0;
    }

.card-container {
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.card-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #c1c4c7;
    border-radius: 5px;
    z-index: 0;
}

.loaderContiner {
    margin-top: 50px;
}

/* Invisible scrollbar by default */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; /* make scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
    background: transparent; /* make scrollbar thumb transparent */
}