.searchBar {
    z-index: 999 !important;
    text-align: center;
    /* pointer-events: none; */
    position: fixed !important;
    width: 40vw !important;
    max-width: 600px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.form-control {
    border: hidden;
    border-radius: 10px !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.form-control:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7), 0px 2px 10px rgba(0, 0, 0, 0.5);
}