@inject NavigationManager Navigation;
@inject IJSRuntime JSRuntime;

<div class="ps-1 pt-2 sticky-top searchBar" @onclick="NavigateToMainComponent">
    <div class="input-group mb-3 text-light" style="pointer-events: auto;">
        <input id="searchBox" class="form-control bg-dark text-light" placeholder="Search Wiki" @bind="searchTerm" @bind:event="oninput" @onkeyup="SearchTermChangedInComponent" /*disabled="@IsSearchDisabled"*/>
    </div>
</div>

@code {
    public string? searchTerm { get; set; }
    [Parameter] public string? type { get; set; } = "No Type";
    [Parameter] public EventCallback<string> SearchTermChanged { get; set; }
    [Parameter] public bool IsSearchDisabled { get; set; } = false;

    private void NavigateToMainComponent()
    {
        Console.WriteLine("Navigating to main component");
        if (IsSearchDisabled)
        {
            Navigation.NavigateTo($"/");
        }
    }

    private void SearchTermChangedInComponent()
    {
        Console.WriteLine("Search term changed");
        if (string.Equals(searchTerm, "CV", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo($"/Dissertation/CV");
        }
        else if (string.Equals(searchTerm, "Dissertation", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo($"/Dissertation/Dissertation");
        }
        else if (string.Equals(searchTerm, "Artifact", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo($"/Dissertation/Artifact");
        }
        else if (string.Equals(searchTerm, "ChatBot", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo($"/chat");
        }
        else if (searchTerm.Contains("Assistant", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo($"/navBot");
        }
        else
        {
            SearchTermChanged.InvokeAsync(searchTerm);
        }
    }

}
