body {
}

.kudosText {
    /*color: black;*/
    color: #1c5380;
}
    /*

*/
    .kudosText .text-muted {
        background-color: #212529;
        padding: 2px;
        border-radius: 5px;
        color: #0d385b !important;
    }

.kudosTextInline {
    /*color: black;*/
    color: #1c5380;
    padding-top: 40px;
}
    /*

        background-color: #0a0b0b46;
*/
    .kudosTextInline .text-muted {
        border-radius: 5px;
        color: #0d385b !important;
    }

.dotted-lines {
    position: relative;
}

    .dotted-lines * {
        z-index: -1;
    }

.inlineBTN {
    position: absolute;
    padding: .05rem .5rem;
    font-size: .85rem;
    right: 0px;
    top: 0px;
    z-index: 0;
}