@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="container">
    <h4>Crypto Chart</h4>
    <canvas id="cryptoChart"></canvas>
</div>

@code {
    private IJSObjectReference _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./CryptoManagerScripts/cryptoChart.js");
        }
    }

    public async Task LoadData(string cryptoId)
    {
        await _module.InvokeVoidAsync("renderChart", cryptoId);
    }
}
